<%- include("partials/headermanager") %>

	<div class="container">
	<div>
    <input type="button" class="btn btn-lg btn-success" name="" value="Approve" onclick="window.location.href='/approvedone/<%=found._id %>'">
    <input type="button" class="btn btn-lg btn-danger" name="" value="Decline" onclick="window.location.href='/approvedecline/<%=found._id %>'">
    </div>
  </div>
	 <div class="container blog-total-div" style="margin-top: -400px;">
    <div class="blog-div single-blog-div">
      <h2 class="blog-client-heading" style="font-size:45px;"><%= found.Subject %><sub style="font-size:15px;float:right;padding-top:10px;"><%= found.Date %></sub></h2>
      <p class="blog-client-para" style="font-size:20px;"><%= found.Content %></p>
    </div><hr style="
  border:1px solid #576060;width:75%;"><br>
  </div>
    


<%- include("partials/footer") %>